AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
php_value upload_max_filesize 10M

RewriteEngine On
RewriteBase /

# склейка зеркал сайта
RewriteCond %{HTTP_HOST} ^www.newyork-bar.ru$ [NC]
RewriteRule ^(.*)$ http://newyork-bar.ru/$1 [R=301,NC,L]

RewriteCond $1 !^(index\.php|images|robots\.txt|public)
RewriteCond %{REQUEST_URI} !\.(cssв”‚jsв”‚jpgв”‚gif)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d	
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
